[Unit]
Description=QWAMOS Tor Service
After=network.target

[Service]
Type=simple
ExecStart=/opt/qwamos/network/tor/tor_controller.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
