[Unit]
Description=QWAMOS Vpn Service
After=network.target

[Service]
Type=simple
ExecStart=/opt/qwamos/network/vpn/vpn_controller.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
