name: SBOM
on: [release]
jobs:
  sbom:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: anchore/sbom-action@v0
        with:
          output-file: sbom.json
      - uses: actions/upload-artifact@v4
        with:
          name: qwamos-sbom
          path: sbom.json
